---
---

@import "minima";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  a {
    color: #4181d4;
  }

  hr {
    border: 0;
    border-top: 1px solid #30363d !important;
    margin: 2rem 0;
  }

  .site-header,
  .site-footer {
    background-color: #686868;
  }

  pre, code {
    background-color: #1e1e1e;
  }
}
