---
---

@import "minima";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  a {
    color: #4181d4;
  }

  .site-header,
  .site-footer {
    background-color: #1a1a1a;
  }

  pre, code {
    background-color: #1e1e1e;
  }
}
