---
---

@import "minima";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  a {
    color: #4181d4;
  }

  .page-content hr {
    border: 0 !important;
    border-top: 4px solid #30363d !important;
    margin: 1rem 0;
  }

  .site-header,
  .site-footer {
    background-color: #0c0c0c;
    border-color: #30363d;
  }

  .site-header a,
  .site-header a:visited {
    color: #929292 !important;
  }

  pre,
  code {
    background-color: #1e1e1e;
  }
}
